.ifcal {
  height: 90%;
}
.cal {
  height: 100%;
  background-color: #eafff9;
}
.getcal {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 10%;
  padding: 0;
}
.smallcal {
  display: flex;
  justify-content: center;
}
