.chatbottom {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: 100%;
  position: absolute;
}
.chatarea {
  min-height: 70%;
  height: 90%;
  padding: 30px;
  overflow: scroll;
  background: rgb(0,0,126);
  background: linear-gradient(45deg, rgba(0,0,126,1) 0%, rgba(0,10,181,1) 55%, rgba(162,171,255,1) 100%);
}
.send,
.sendtime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgrey;
}
.sendtime {
  visibility: visible;
}

.send > form {
  flex: 1;
  display: flex;
}

.send > form > input {
  flex: 1;
  border-radius: 30px;
  outline-width: 0;
  padding: 10px;
  border: none;
}

.send > form > button {
  display: none;
}
.sendtime > form > button {
  display: none;
}

.send > .MuiSvgIcon-root {
  padding: 10px;

  color: gray;
}

.sendtime > form {
  flex: 1;
  display: flex;
}

.sendtime > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}
.sendtime > form > input[type="date"],
input[type="time"] {
  max-width: 100px;
}

.sendtime > form > button {
  margin-right: 10px;
}
.sendtime > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
.message {
  max-height: 30%;
  /* border: 4px solid black; */
  position: relative;
}

.otherdetail {
  margin-left: 7px;
  margin-top: 5px;
  z-index: 5;
  background-color: #98e3ce;
  height: 300px;
  width: 34%;
  position: absolute;
  border-radius: 5px;
  transform-style: preserve-3d;
  box-shadow: -1px 5px 30px -8px rgba(00, 0, 0, 0.75);
}
.otherdetail::before {
  display: flex;
  margin-top: -1vh;

  content: "";
  border-top: 4px solid #98e3ce;
}
.otherdetail:hover .user_info {
  background-color: #fff;
}
