.login {
  /* border: 2px solid blue; */
  height: 100%;
  display: flex;

  background-color: #eafff9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 7px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin: 5px;
  outline-width: 0;
}
.login_box,
.sign_up {
  /* background-color: red; */

  width: 40vw;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#login_title {
  /* border: 2px solid yellow; */
  color: white;
  margin: 0;
  padding: 10px;
}
.logs {
  display: flex;
  height: 70%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  margin-bottom: 0;
  margin-top: 0;
  padding: 15px 0px;
}
.logs > input[type="text"],
input[type="number"],
input[type="password"] {
  width: 80%;
  margin-bottom: 5%;
  height: 40px;
  background-color: transparent;
  border: none;
  outline-width: 0;
  border-bottom: 1px solid white;
  color: white;
  padding-bottom: 5px;
  font-size: 14pt;
}
#login_submit,
#sign_submit,
#after_go {
  width: 50%;
  margin-left: 0;
  max-width: 200px;
  cursor: pointer;
}
#after_go {
  width: 100%;
}
/* #signUP {
  display: none;
} */
.sign_up ::placeholder,
#login_pass::placeholder,
#login_name::placeholder {
  color: white;
  /* background-color: blue; */
}
.toggle-password-button {
  position: absolute;
  top: 42%;
  bottom: 58%;
  right: 45px; /* Adjust the right position as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust the font-size to your desired size */
}
.wrap {
  /* border: 5px solid green; */
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  max-height: 80%;
  box-shadow: -1px 5px 30px -8px rgba(00, 0, 0, 0.75);
  background: rgb(0, 0, 126);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 126, 1) 0%,
    rgba(0, 10, 181, 1) 55%,
    rgba(162, 171, 255, 1) 100%
  );
}
#sign_up_show {
  background-color: transparent;
  color: white;
}
.hider {
  color: red;
  display: none;
}
#sign_submit {
  background-color: #00ffb7;
  box-shadow: -1px 5px 30px -8px rgba(00, 0, 0, 0.75);
}

#error_sign {
  color: red;
  font-weight: 600;
  font-size: 18pt;
}
.invalid,
.error {
  color: red;
}
