.mainpeople {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  height: 87vh;
  position: absolute;
}
.people {
  width: 100%;
  text-align: center;
  overflow: scroll;
  max-height: 87vh;
  height: 100%;
  position: relative;
}
.searchname {
  width: 90%;
  height: 40px;
  outline-width: 0;
  background-color: white;
  padding-left: 5px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* This is css for individual  */
.individual {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 320px;
  height: 75px;
  max-height: 75px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.individual:hover {
  background-color: #98e3ce;
  transition: 0.2s ease-in;
}

h3 {
  max-width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
p {
  margin-top: 0;
  padding-left: 5px;
  height: 66%;
  max-height: 40px;
  text-align: left;
}
.person {
  display: flex;
}
.perlogo {
  max-width: 80px;
  height: 100%;
  margin-right: 5px;
}
.pername {
  width: 100%;
}
.namesub {
  display: none;
}

